---
import type { TypeSectionDuplex } from '../../lib/__generated__';
import { cn } from '../../lib/cn';
import SectionHeader from '../SectionHeader.astro';
import Text from '../Text.astro';
import Mapper from './Mapper.astro';
import Section from './Section.astro';

type ContentfulSectionDuplexProps = {
  data?: TypeSectionDuplex<'WITHOUT_UNRESOLVABLE_LINKS'>;
  className?: string;
};

const { data, className } = Astro.props as ContentfulSectionDuplexProps;
const fields = data?.fields;

const gapClasses = {
  none: 'gap-0',
  small: 'gap-4',
  medium: 'gap-6',
  large: 'gap-10',
} as const;
---

{
  fields && (
    <section class={cn('flex flex-col gap-12 md:gap-16 py-20', gapClasses[fields.gap], className)}>
      {fields.title && <SectionHeader title={fields.title} position={fields.titlePosition} />}

      <div class="grid items-center gap-6 lg:grid-cols-8">
        <div class="lg:col-span-3 lg:col-start-2">
          {fields.sectionA && (
            <Mapper
              data={fields.sectionA}
              components={{
                section: Section,
              }}
            />
          )}
        </div>
        <div>
          {fields.sectionB && (
            <Mapper
              className="lg:col-span-3"
              data={fields.sectionB}
              components={{
                section: Section,
              }}
            />
          )}
        </div>
      </div>
    </section>
  )
}
