---
import { cn } from '../lib/cn';

interface Props {
  class?: string;
  // Tailwind classes to customize grid behavior (replacement for gridConfig)
  gridClass?: string;
}

const { class: className } = Astro.props as Props;
---

<div class:list={cn('my-0 mx-[calc((100vw-100%)/-2)] grid grid-cols-2 md:grid-cols-4', className)}>
  <slot />
</div>
